<div class="container-fluid d-flex flex-column justify-content-center align-items-center fixed-bottom" style="padding: 0;">
    <div class="container-fluid d-flex justify-content-evenly align-items-center" style="padding: 0 250px;">
        <button class="btn btn-main-grey menu-btn" (click)="test()">Тестирование</button>

        <div class="form-check form-switch" style="transform: scale(3);">
            <input class="form-check-input" type="checkbox" role="switch" id="mainSwitch" (click)="swap()">
        </div>

        <button class="btn btn-main-grey menu-btn" (click)="traning()">Обучение</button>
    </div>
    <div *ngIf="this.state?.state == 'TEST'" class="container-fluid d-flex flex-row justify-content-evenly align-items-center" style="background-color: #EFF1F4; height: 500px;">
        <div>
            <button class="btn btn-main menu-btn" (click)="tickets()">Билеты</button>
            <button class="btn btn-main-light menu-btn" (click)="themes()">Темы</button>
            <button class="btn btn-main-light menu-btn" (click)="errors()">Ошибки</button>
        </div>
        <div>
            <button class="btn btn-main menu-btn" (click)="exam()">Экзамен</button>
            <button class="btn btn-main-light menu-btn" (click)="marathon()">Марафон</button>
            <button class="btn btn-main-light menu-btn" (click)="favorites()">Избранное</button>
        </div>
    </div>
    <div *ngIf="this.state?.state == 'TRAIN'" class="container-fluid d-flex flex-row justify-content-evenly align-items-center" style="background-color: #EFF1F4; height: 500px;">
        <!--<li *ngFor="let user of users; index as i; first as isFirst">
            {{i}}/{{users.length}}. {{user}} <span *ngIf="isFirst">default</span>
        </li> -->

        <p>TICKET</p>
    </div>
    <div *ngIf="this.state?.state == 'TICKET'" class="container-fluid d-flex flex-row justify-content-evenly align-items-center" style="background-color: #EFF1F4; height: 500px;">
        <p>TICKET</p>
    </div>
    <div *ngIf="this.state?.state == 'THEME'" class="container-fluid d-flex flex-row justify-content-evenly align-items-center" style="background-color: #EFF1F4; height: 500px;">
        <p>THEME</p>
    </div>
    <div *ngIf="this.state?.state == 'ERROR'" class="container-fluid d-flex flex-row justify-content-evenly align-items-center" style="background-color: #EFF1F4; height: 500px;">
        <p>ERROR</p>
    </div>
    <div *ngIf="this.state?.state == 'EXAM'" class="container-fluid d-flex flex-row justify-content-evenly align-items-center" style="background-color: #EFF1F4; height: 500px;">
        <p>EXAM</p>
    </div>
    <div *ngIf="this.state?.state == 'MARATHON'" class="container-fluid d-flex flex-row justify-content-evenly align-items-center" style="background-color: #EFF1F4; height: 500px;">
        <p>MARATHON</p>
    </div>
    <div *ngIf="this.state?.state == 'FAVORITE'" class="container-fluid d-flex flex-row justify-content-evenly align-items-center" style="background-color: #EFF1F4; height: 500px;">
        <p>FAVORITE</p>
    </div>
</div>